<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>183949526615-9dvfhnsu8umvesc437d7t9n6m06l8037.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.183949526615-9dvfhnsu8umvesc437d7t9n6m06l8037</string>
	<key>API_KEY</key>
	<string>AIzaSyC4TmepS2-8AaOFotAWGsBMEXSSWxs3lX8</string>
	<key>GCM_SENDER_ID</key>
	<string>183949526615</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.firebaseUploader</string>
	<key>PROJECT_ID</key>
	<string>theuploader-24130</string>
	<key>STORAGE_BUCKET</key>
	<string>theuploader-24130.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:183949526615:ios:bea3991539fd66a6afc512</string>
</dict>
</plist>